.card{
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(252, 244, 244, 0.2); 
    padding: 16px;
    margin-top: 20px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
   
  }